#overlay, .overlay {
    position: absolute;
    top: 0;
    left: 0;
}

#detectBtn{
    cursor: pointer;
}

div.intro{
    text-align: center;
    font-size: 5em;
    font-family: monospace
}


